<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xpanses :{%block title%}{%endblock title%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./dist/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './style/style.css')}}">
    <script src="https://kit.fontawesome.com/85d4076826.js" crossorigin="anonymous"></script>
    <script src="../static/index.js"></script>

</head>
<body class="bg-body min-h-screen flex flex-col">
    <nav class=" bg-nav p-4">
        <div class="container mx-auto flex items-center justify-between ">
            <div class="logo w-1/3">
                <a class="text-3xl font-semibold  text-link hover:text-button "  href="#">Xpanses</a>
            </div>
            {%if current_user.is_authenticated %}
                <div class="container nav-links flex w-1/3 ">
                    <div class="mx-auto  w-full flex items-center justify-between   ">   
                        <a class=" text-lg     text-link  hover:text-opacity-70" href='{{url_for("routes.home")}}'>Home</a>
                        <a class=" text-lg     text-link  hover:text-opacity-70"  href='{{url_for("routes.add")}}'>Add Expanses</a>
                        <a class=" text-lg     text-link  hover:text-opacity-70"  href='{{url_for("routes.dashboard")}}'>DashBoard</a>
                    </div>
                </div>

                <div class="container account flex justify-evenly items-center w-1/3">
                    <p class="text-button_hover">Welcome {{current_user}}</p>
                    <div class="bg-button_hover py-1 px-4 rounded-md  ">
                        <button class="text-lg font-semibold text-link" >
                        <a href="{{url_for('routes.logout')}}">Logout</a>    
                        </button>
                    </div>
                </div>
            {%else %}
                <div class="container nav-links flex w-3/5 ">
                    <div class="mx-auto  w-full flex items-center justify-evenly   ">   
                        <a class=" text-lg     text-link  hover:text-opacity-70" href='{{url_for("routes.home")}}'>Home</a>
                        <a class=" text-lg     text-link  hover:text-opacity-70"  href='{{url_for("routes.add")}}'>Add Expanses</a>
                        <a class=" text-lg     text-link  hover:text-opacity-70"  href='{{url_for("routes.dashboard")}}'>DashBoard</a>
                    </div>
                </div>    
            
                <div class="container w-1/2">
                    <div class="bg-button py-1 px-4 rounded-md  ml-auto" style="width:5.1rem ;">
                        <button class="text-lg font-semibold text-link" >
                        <a href="{{url_for('routes.login')}}">Login</a>    
                        </button>
                    </div>
                </div>
            
            {%endif%}
        </div>
    </nav>
    <header>
        {%with messages = get_flashed_messages(with_categories = true)%}
            {%if messages%}
                {%for category , message in messages%}
                    <h1>
                        <div class="error-message">
                            {{message}}
                        </div>
                    </h1>
                
                {%endfor%}
            
            {%endif%}
        {%endwith%}

    </header>
    <main class="container  flex-grow">
{%block content%}{%endblock content%}
    </main>
    <!-- bottom-0 left-0 right-0 fixed -->
    <footer class=" bg-nav p-2 h-fit">  
            <div class="first-row container mx-auto flex flex-wrap  items-center justify-center  ">
                <div class="butt p-2 mr-2 text-2xl font-semibold hover:text-button_hover" >
                    <a href='{{url_for("routes.home")}}'> Xpanses </a>
                </div>
                <div class="links text-xl font-semibold  ">
                    <a class="px-4 text-link  hover:text-opacity-40 " href="#">Contact</a>
                    <a class="px-4 text-link  hover:text-opacity-70 " href="#">FAQ</a>
                    <a class="px-4 text-link  hover:text-opacity-70 " href="#">Privacy</a>
                </div>
            </div>
            <div class="second-row container mx-auto flex justify-center   ">
                <a class="px-4" href='https://github.com/Amine-iD/Expanses-Tracker'>
                    <i class="fa-brands fa-github  text-2xl hover:text-link"> </i>
                </a>
                <a class="px-4"  href="https://linkedin.com">
                    <i class="fa-brands fa-linkedin text-2xl hover:text-link"></i>
                </a>
                <a class="px-4" href="https://x.com">
                    <i class="fa-brands fa-x-twitter text-2xl hover:text-link"></i>
                </a>
            </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>