<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xpanses :{%block title%}{%endblock title%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./dist/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename = './style/style.css')}}">
    <script src="https://kit.fontawesome.com/85d4076826.js" crossorigin="anonymous"></script>

</head>
<body class="bg-body">
    <nav class=" bg-nav p-4">
        <div class="container mx-auto flex items-center justify-between ">
            <div >
                <a class="text-3xl font-semibold  text-link hover:text-button "  href="#">Xpanses</a>
            </div>
            <div class="space-x-8 text-xl ">
                    <a class="text-link  hover:text-opacity-70" href='{{url_for("routes.home")}}'>Home</a>
                    <a class="text-link  hover:text-opacity-70"  href='#'>Add Expanses</a>
                    <a class="text-link  hover:text-opacity-70"  href='{{url_for("routes.dashboard")}}'>DashBoard</a>
            </div>
            {%if current_user.is_authenticated %}
                <p>Welcome {{current_user}}</p>
                <div class="bg-button_hover py-1 px-4 rounded-md  ">
                    <button class="text-lg font-semibold text-link" >
                    <a href="{{url_for('routes.logout')}}">Logout</a>    
                    </button>
                </div>
        
            {%else %}
                <div class="bg-button py-1 px-4 rounded-md  ">
                    <button class="text-lg font-semibold text-link" >
                    <a href="{{url_for('routes.login')}}">Login</a>    
                    </button>
                </div>
            
            
            {%endif%}
        </div>
    </nav>
    <header>
        {%with messages = get_flashed_messages(with_categories = true)%}
            {%if messages%}
                {%for category , message in messages%}
                    <h1>
                        <div class="error-message">
                            {{message}}
                        </div>
                    </h1>
                
                {%endfor%}
            
            {%endif%}
        {%endwith%}

    </header>
    <main class="container h-screen">
{%block content%}{%endblock content%}
    </main>
    <!-- bottom-0 left-0 right-0 fixed -->
    <footer class=" bg-nav p-2 h-fit">  
            <div class="first-row container mx-auto flex flex-wrap  items-center justify-center  ">
                <div class="butt p-2 mr-2 text-2xl font-semibold hover:text-button_hover" >
                    <a href='{{url_for("routes.home")}}'> Xpanses </a>
                </div>
                <div class="links text-xl font-semibold  ">
                    <a class="px-4 text-link  hover:text-opacity-40 " href="#">Contact</a>
                    <a class="px-4 text-link  hover:text-opacity-70 " href="#">FAQ</a>
                    <a class="px-4 text-link  hover:text-opacity-70 " href="#">Privacy</a>
                </div>
            </div>
            <div class="second-row container mx-auto flex justify-center   ">
                <a class="px-4" href='https://github.com/Amine-iD/Expanses-Tracker'>
                    <i class="fa-brands fa-github  text-2xl hover:text-link"> </i>
                </a>
                <a class="px-4"  href="https://linkedin.com">
                    <i class="fa-brands fa-linkedin text-2xl hover:text-link"></i>
                </a>
                <a class="px-4" href="https://x.com">
                    <i class="fa-brands fa-x-twitter text-2xl hover:text-link"></i>
                </a>
            </div>
    </footer>

</body>
</html>