{%extends 'base.html'%}

<head>
    {%block title%} Login {%endblock title%}
    <link rel="stylesheet" href="../style/style.css">
</head>

{%block content%}
    <div class="container flex items-center justify-center">
        <form method="post">
            {{form.hidden_tag()}}

            <div>
                {{form.user_name(placeholder = 'Enter Your Name:')}}
            </div>
            <br>
            <div>
                {{form.password(placeholder = ' Enter Your Password')}}
            </div>
            
                {{form.submit()}}
        </form>
        </div>
{%endblock content%}