{%extends 'base.html'%}
<head>
    {%block title%} Register {%endblock title%}
    <link rel="stylesheet" href="../style/style.css">
</head>
{%block content%}
    <div class="form-container container my-10 ">
        <form method="post" action="" >
                {{form.csrf_token}}
            <div class="container flex flex-col items-center  ">
                <div class="field-container">
                    {{form.user_name.label()}}
                    {{form.user_name( class = 'input')}}
                </div>
                <br>
                
                <div class="field-container">
                    {{form.email.label()}}
                    {{form.email( class = 'input')}}
                </div>
                <br>
                
                <div class="field-container">
                    {{form.password1.label()}}
                    {{form.password1(class = 'input' )}}
                </div>
                <br>
                
                <div class="field-container">
                    {{form.password2.label()}}
                    {{form.password2(class = 'input' )}}
                </div>
                <br>
                
                <div class="field-container">
                {{form.submit( class='btn')}}
                </div>
                <br>
                <div class="form-links">
                    <span> Already have an account?</span>
                    <span> <a href="{{url_for('routes.login')}}"> Login  </a></span>
                </div>      
            </div>
        </form>    

    </div>
{%endblock content%}
